AngularTutorial/
test_backend/
app.component.html 
market.ts 
names.txt 
orders.csv 
orders.txt 
playground.py 
stocknames.txt 
stocks.txt 
test.py
stockmarket/node_modules/

.fake
.history/

backend_asp/obj/*
