<div class="content" role="main">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <!-- <td>{{ stock.stockID }}</td>
        <td>{{ stock.stockName}}</td>
        <td>{{ stock.stockPrice }}</td> -->
        <td>{{ stock.id }}</td>
        <td>{{ stock.name}}</td>
        <td>{{ stock.price }}</td>
      </tr>
    </tbody>
  </table>
</div>

<dialog #makeOrder>
  <div>
    <h2>Buy Stock</h2>
    <form (ngSubmit)="onsubmit(myForm)" #myForm="ngForm" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Enter your name: " [(ngModel)]="name" required>
      <label for="stock">Stock</label>
      <select id="stock" name="stock" [(ngModel)]="selectedStock">
        <option *ngFor="let stock of stocks" value="{{ stock.name }}">{{ stock.name }}</option>
      </select>
      <!-- <label for="price" [(ngModel)]="price">{{price}}</label> -->
      <!-- <label for="price">Price</label> -->
      <!-- <input type="number" id="price" name="price" placeholder="Enter price: " [(ngModel)]="price" required> -->
      <label for="quantity">Quantity</label>
      <input type="number" id="quantity" name="quantity" placeholder="Enter quantity: " [(ngModel)]="quantity"  required>
      <button type="submit">Buy</button>
    </form>
  </div>
  <button (click)="makeOrder.close()">
    OK
  </button>
</dialog>

<button (click)="makeOrder.showModal()">Buy Stock</button>
<!-- add router link to orders page -->
<button routerLink="/orders">View Orders</button>

<router-outlet></router-outlet>