<div class="{{themeService.isDarkTheme? 'bg-dark' : ''}}">
<!-- <select #selLang (change)="switchLang(selLang.value)">
  <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
</select> -->
<button (click)="toggleLang()">{{"LANGUAGE" | translate}}</button> 
<!-- <button (click)="toggleTheme()">
  <i *ngIf="themeService.isDarkTheme" class="fas fa-sun-o"></i>
  <i *ngIf="!themeService.isDarkTheme" class="fas fa-moon-o"></i>
</button> -->

<mat-slide-toggle
  [checked]="themeService.isDarkTheme" (change)="toggleTheme()">
</mat-slide-toggle>

<!-- <button (click)="toggleTheme()" class="{{themeService.isDarkTheme? 'theme-toggle--reversed' : 'theme-toggle'}} " type="button" title="Toggle theme" aria-label="Toggle theme" >
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="1em" height="1em" fill="currentColor"
    stroke-linecap="round" class="theme-toggle__classic" viewBox="0 0 32 32">
    <clipPath id="theme-toggle__classic__cutout">
      <path d="M0-5h30a1 1 0 0 0 9 13v24H0Z" />
    </clipPath>
    <g clip-path="url(#theme-toggle__classic__cutout)">
      <circle cx="16" cy="16" r="9.34" />
      <g stroke="currentColor" stroke-width="1.5">
        <path d="M16 5.5v-4" />
        <path d="M16 30.5v-4" />
        <path d="M1.5 16h4" />
        <path d="M26.5 16h4" />
        <path d="m23.4 8.6 2.8-2.8" />
        <path d="m5.7 26.3 2.9-2.9" />
        <path d="m5.8 5.8 2.8 2.8" />
        <path d="m23.4 23.4 2.9 2.9" />
      </g>
    </g>
  </svg>
</button> -->

</div>

<router-outlet></router-outlet>
