<!DOCTYPE html>
<html lang={{translate.currentLang}} [dir]="translate.currentLang === 'en_US'? 'ltr' : 'rtl' ">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <title>Stock Market</title>
</head>


<body class="{{themeService.isDarkTheme? 'text-white bg-dark' : ''}}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">{{'TITLE' | translate}}</h1>
      </div>
      <div class="card  {{themeService.isDarkTheme? 'text-white bg-dark' : ''}}">
        <div class="card-header">
        </div>
        <div class="card-body mx-auto text-center">
          <a class="btn btn-primary btn-lg btn-block p-3 m-1 {{themeService.isDarkTheme? 'bg-warning text-dark' : ''}}"
            (click)="signUp.showModal()">{{'AUTH.SIGN_UP' |
            translate}}</a>
          <br>
          <a class="btn btn-primary btn-lg btn-block p-3 m-1 {{themeService.isDarkTheme? 'bg-warning text-dark' : ''}}"
            (click)="signIn.showModal()">{{'AUTH.SIGN_IN' |
            translate}}</a>
        </div>

      </div>
    </div>
  </div>

  <dialog class="dialog-style {{themeService.isDarkTheme? 'text-white bg-dark' : ''}}" #signUp>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'AUTH.SIGN_UP' | translate}}</h5>
        <button type="button" class="close" (click)="signUp.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSignUpSubmit(myForm)" #myForm="ngForm" method="post">
          <div class="text-white bg-dark">
            <div class="form-group">
              <label class="label-style" for="newUserName">{{'USER.NAME' | translate}}</label>
              <input type="text" id="newUserName" name="newUserName" [(ngModel)]="newUserName" required
                class="form-control">
            </div>
            <div class="form-group">
              <label class="label-style" for="newPassword">{{'USER.PASSWORD' | translate}}</label>
              <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required
                class="form-control">
            </div>
            <div class="form-group">
              <label class="label-style" for="newEmail">{{'USER.EMAIL' | translate}}</label>
              <input type="email" id="newEmail" name="newEmail" [(ngModel)]="newEmail" required class="form-control">
            </div>
            <br>
            <button class="btn btn-primary btn-block {{themeService.isDarkTheme? 'bg-warning text-dark' : ''}}"
              type="submit" (click)="signUp.close()">{{'AUTH.SIGN_UP' |
              translate}}</button>

          </div>
        </form>
      </div>
    </div>
  </dialog>

  <dialog class="dialog-style {{themeService.isDarkTheme? 'text-white bg-dark' : ''}}" #signIn>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'AUTH.SIGN_IN' | translate}}</h5>
        <button type="button" class="close" (click)="signIn.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSignInSubmit(myForm)" #myForm="ngForm" method="post">
          <div class="form-group">
            <label class="label-style" for="userName">{{'USER.NAME' | translate}}</label>
            <input type="text" id="userName" name="userName" [(ngModel)]="userName" required class="form-control">
          </div>
          <div class="form-group">
            <label class="label-style" for="password">{{'USER.PASSWORD' | translate}}</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control">
          </div>
          <br>
          <button class="btn btn-primary btn-block {{themeService.isDarkTheme? 'bg-warning text-dark' : ''}}"
            type="submit" (click)="signIn.close()">{{'AUTH.SIGN_IN' |
            translate}}</button>
        </form>
      </div>
    </div>
  </dialog>


</body>

</html>
