<h1>Orders</h1>

<div class="content" role="main">
    <table class="table-style">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>StockID</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.stockid}}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.quantity }}</td>
            </tr>
        </tbody>
    </table>
</div>
<button class="button-style" routerLink="/stocks">View Stocks</button>
<router-outlet></router-outlet>