<!DOCTYPE html>
<html lang={{translate.currentLang}} [dir]="translate.currentLang === 'en_US'? 'ltr' : 'rtl' ">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{"ORDERS" | translate}}</title>
</head>
<body class="{{themeService.isDarkTheme? 'text-white bg-dark' : ''}}">
<h1 class="display-4">{{"ORDERS" | translate}}</h1>

<nav class="navbar navbar-expand-lg {{themeService.isDarkTheme? 'navbar-dark bg-dark' : 'navbar-light bg-light'}}">
  <a class="navbar-brand" href="#">{{"AUTH.SIGN_OUT" | translate}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn btn-secondary" routerLink="/stocks">{{"STOCKS" | translate}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-12"> -->
      <table class="table table-striped table-bordered table-responsive table-hover {{themeService.isDarkTheme? 'table-dark' : ''}}">
        <thead>
          <tr>
            <th>{{"ORDER.ID" | translate}}</th>
            <th>{{"ORDER.BUYER_NAME" | translate}}</th>
            <th>{{"ORDER.STOCK_ID" | translate}}</th>
            <th>{{"ORDER.PRICE" | translate}}</th>
            <th>{{"ORDER.QUANTITY" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="animate__animated animate__backInLeft" *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.buyerName }}</td>
            <td>{{ order.stockID}}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.quantity }}</td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->
  </div>
</div>

</body>
</html>
